@font-face {
    font-family: DM Sans;
    src: url(../../assets/fonts/DM\ Sans/DMSans-Regular.ttf);
}

section.landpage-section {
    top: 10vh;
    height: 83vh;
    position: relative;
    display: flex;
    align-items: center;
    font-family: DM Sans;
}

container.landpage-container{
    position: relative;
    width: 48%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

img.velocimetro {
    width: 35%;
    height: 35%;
}

div.land-text {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.text-wrapper {
    width: 100%;
}

h2.land-title {
    font-size: 40px;
    text-align: right;
}

p.land-phrase {
    width: 100%;
    text-align: right;
}