@font-face {
    font-family: DM Sans;
    src: url(../../assets/fonts/DM\ Sans/DMSans-Regular.ttf);
}


footer {
    position: absolute;
    height: 7vh;
    width: 100%;
    background-color: #272727;
    padding: 0;
    margin: 0;
    bottom: 0;
}

div.footer-container {
    position: relative;
    width: 50%;
    background-color: #272727;
    color: white;
    text-align: center;
    margin: 0 auto;
    height: 100%;
}

ul.footer-bar {
    display: flex;
    list-style-type: none;
    height: 100%;
}

li.sub-logo {
    font-family: DM Sans;
    width: 80%;
    text-align: left;
    display: flex;
    align-items: center;
}

li.social-media {
    width: 5%;
    padding: 5px 0 5px 0;
    /* padding-left: 1%; */
    /* padding-right: 1%; */
}

img.social-media-logo {
    position: relative;
    width: 80%;
}