* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #636363;
  width: 100%;
  border: none;
  margin: 0 auto;
  position: relative;
  padding-bottom: 7vh;
  min-height: 100vh;
}

div.content-div {
  height: 100vh;
}