@font-face {
    font-family: DM Sans;
    src: url(../../assets/fonts/DM\ Sans/DMSans-Regular.ttf);
}

h1 {
    color: white;
    vertical-align: middle;
}

h2 {
    color: white;
    vertical-align: middle;
}

section header.header {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    z-index: 9999;
}

section header.header container.header-container {
    height: 100%;
    width: auto;
    font-size: 16px;
    display: -webkit-flex;
    background-color: #494949;
}

section header.header ul.nav-bar {
    width: 50%;
    height: auto;
    font-family: DM Sans;
    display: -webkit-flex;
    list-style-type: none;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


section header.header ul.nav-bar li.logo {
    font-size: 200%;
    font-weight: 400;
    width: 70%;
}

section header.header ul.nav-bar li.nav-items {
    width: 15%;
}

li.nav-items p{
    position: sticky;
    height: auto;
    font-size: 16px;
    color: white;
    white-space: nowrap;
    text-align: end;
    width: 100%;
}